/* Color pallete */
:root {
  --color-1: #696969; /* DimGray - container background */
  --color-2: #880808; /* Blood Red - border, shadows, buttons, scrollbar */
  --color-3: #DCDCDC; /* Gainsboro - main background */
  --color-4: #880808; /* Blood Red - accent */
  --color-5: #F9F6EE; /* Bone White - link hover */
  --color-6: #28282B; /* Matte Black - font */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts - Alegreya for headlines, Gelasio for body */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body,
html,
#root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-5);
}

.Header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--color-1);
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 2rem;
  color: var(--color-6);
  border-bottom: 1px var(--color-2) solid;
  z-index: 3;
}

.Header .Highlight,
.Icon,
h2,
h3 {
  color: var(--color-4);
}

.Icon {
  font-size: 1.5rem;
}

.App {
  position: relative;
  min-height: 100vh;
  padding: 0 15rem;
  font-family: "Gelasio", serif;
  color: var(--color-6);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

aside {
  width: 20%;
  padding: 1em;
}

.feed {
  width: 75%;
  padding: 1em;
}