/* Color pallete */
:root {
  --color-1: #696969; /* DimGray - main background */
  --color-2: #DCDCDC; /* Gainsboro - container background */
  --color-3: #EDEDED; /* Lighter Gainsboro - lighter container background */
  --color-4: #880808; /* Blood Red - accent, border, buttons, scrollbar */
  --color-5: #F9F6EE; /* Bone White - light font */
  --color-6: #28282B; /* Matte Black - font */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts - Alegreya for headlines, Gelasio for body */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body,
html,
#root {
  height: 100vh;
}

html {
  font-size: 16px;
  text-align: center;
}

a, 
h2, 
h3, 
.Icon {
  color: var(--color-4);
  text-decoration: none;
}

a:hover {
  color: var(--color-1);
}

.Header {
  width: 100%;
  height: 6rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 10rem;
  font-family: "Alegreya", serif;
  font-size: 2rem;
  color: var(--color-6);
  background-color: var(--color-2);
  border-bottom: 1px var(--color-4) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

h2,
h3 {
  font-family: "Alegreya", serif;
}

.Icon {
  font-size: 2.8rem;
}

input {
  background-color: var(--color-5);
}

button {
  background-color: var(--color-4);
  color: var(--color-5);
  margin: 0.2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--color-1);
}

input, 
button {
  padding: 0.2rem 1rem;
  font-family: "Gelasio", serif;
  font-size: 1rem;
  border: 2px solid var(--color-6);
  box-shadow: 0;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Gelasio", serif;
  color: var(--color-6);
  background-color: var(--color-1);
  z-index: 1;
}

.Body {
  top: 6rem;
  width: 100%;
  padding: 0 20rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Subreddits {
  top: 7rem;
  max-width: fit-content;
  height: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  position: sticky;
  background-color: var(--color-2);
  border: 1px var(--color-4) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

.Subreddits ul { 
  list-style-type: none; 
}

.Subreddits button {
  width: 100%;
}

.Feed {
  position: relative;
  min-width: 80%;
  max-width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: none;
}


.Post, .Comment, .NoResults {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-4);
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Post h4 {
  font-size: 0.8rem;
}

.NoResults {
  text-align: center;
}

.Post, .NoResults {
  background-color: var(--color-2);
}

.Post img, .Post video {
  width: 100%;
  border: 1px solid var(--color-4);
}

.PostStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PostStats, .PostActions, .CommentStats {
  font-size: 0.8rem;
}

.Author {
  font-weight: bold;
}

.Break {
  color: rgba(136, 8, 8, 0.7);
}

.TimeAgo {
  color: rgba(40, 40, 43, 0.7);
}

.PostActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.SmallIcon {
  margin: 0 0.4rem;
  font-size: 0.8rem;
  color: var(--color-4);
}

.PostActions button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.ToggledComments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ToggledComments:first-child {
  padding-top: 1rem;
}


.Loading {
  color: rgba(40, 40, 43, 0.7);
}

.Comment {
  background-color: var(--color-3);
  
}

.Comment h2 {
  font-size: 1.2rem;
}

/* ANIMATIONS */

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

#SlideDown {
  animation: slideDown 0.5s ease-in-out;
}

#SlideUp {
  animation: slideUp 0.5s ease-in-out;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 2000px) { 
  .Body {
    padding: 0 25rem;
  }
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1350px) {
  .Header {
    padding: 0.5rem 5rem;
  }

  .Body {
    padding: 0 15rem;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
  .Header {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .Body {
    padding: 0 10rem;
  }
}

/* VERTICAL FLIP FOR MOBILE */

@media only screen and (max-width: 768px) {
  .Header {
    position: relative;
  }

  .Header .Buttons {
    display: none;
  }

  .Body {
    top: 0;
    display: flex;
    flex-direction: column;
  }

  .Subreddits {
    top: 0;
    position: relative;
  }

  .Subreddits ul {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 10px;
  }

  .Body {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 450px) {
  .Header {
    height: 10rem;
    flex-direction: column;
    justify-content: center;
  }

  .Body {
    padding: 0 2rem;
  }
}