/* Color pallete */
:root {
  --color-1: #DCDCDC; /* Gainsboro - container background */
  --color-2: #880808; /* Blood Red - border, shadows, buttons, scrollbar */
  --color-3: #696969; /* DimGray - main background */
  --color-4: #880808; /* Blood Red - accent */
  --color-5: #F9F6EE; /* Bone White - link hover */
  --color-6: #28282B; /* Matte Black - font */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts - Alegreya for headlines, Gelasio for body */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body,
html,
#root {
  height: 100vh;
}

html {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-5);
}

.Header {
  width: 100%;
  height: 6rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 10rem;
  font-family: "Alegreya", serif;
  font-size: 2rem;
  color: var(--color-6);
  background-color: var(--color-1);
  border-bottom: 1px var(--color-2) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

h2,
h3 {
  font-family: "Alegreya", serif;
  color: var(--color-4);
}

.Icon {
  font-size: 2.8rem;
  color: var(--color-4)
}

input {
  background-color: var(--color-5);
}

button {
  background-color: var(--color-2);
  color: var(--color-5);
  margin: 0.2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--color-3);
}

input, 
button {
  padding: 0.2rem 1rem;
  font-family: "Gelasio", serif;
  font-size: 1rem;
  border: 2px solid var(--color-6);
  box-shadow: 0;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Gelasio", serif;
  color: var(--color-6);
  background-color: var(--color-3);
  z-index: 1;
}

.Body {
  top: 6rem;
  width: 100%;
  padding: 0 25rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Subreddits {
  top: 7rem;
  min-width: fit-content;
  width: 20%;
  height: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  position: sticky;
  background-color: var(--color-1);
  border: 1px var(--color-2) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

.Subreddits ul { 
  list-style-type: none; 
}

.Subreddits button {
  width: 100%;
}

.Feed {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-1);
  text-align: left;
}

.PostStats {
  display: flex;
  justify-content: space-between;
}

.LikesDislikes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
}

.SmallIcon {
  margin: 0 0.4rem;
  font-size: 0.8rem;
  color: var(--color-2);
}

.LikesDislikes button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}